{
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "@vue/airbnb",
    "@vue/typescript/recommended"
  ],
  "rules": {
    "no-undef": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "arrow-body-style": "off",
    "object-curly-newline": "off",
    "vue/multi-word-component-names": "off",
    "import/no-extraneous-dependencies": "off",
    "vuejs-accessibility/form-control-has-label": "off",
    "vue/component-tags-order": ["error", {
      "order": [
        "template",
        "script",
        "route",
        "style"
      ]
    }],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "linebreak-style": 0,
    "max-len": ["error", {
      "code": 120
    }]
  },
  "ignorePatterns": ["*.d.ts", "**/vendor/*.js"],
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
