$color-1: #5a5a5a;
$color-2: #7f7f7f;

$color-6: #2a2a2a;
$color-7: #333;
$color-8: #2e2e2e;
$color-9: #2d2d2d;
$color-10: #8a8a8a;
$color-12: #cacaca;
$color-15: #4cb977;

$zIndex-1: 5;
$zIndex-2: 20;
$zIndex-3: 50;
$zIndex-4: 100;

$px-desk: 15%;
$px-mob: 20px;

$maxWidth1: 840px;

$mq-phone: 481px;
$mq-hd: 1921px;

@font-face {
  font-family: 'DancingScript';
  src: url('/assets/fonts/DancingScript-Medium.ttf');
}

@function rem($size, $viewport: 1920) {
  @return calc($size / ($viewport * 0.01 * 1px)) * 1vw;
}
